[Unit]
Description=IPFS_Daemon_Service

[Service]
ExecStart=/usr/local/bin/ipfs daemon
User=root
Restart=always
LimitNOFile=10240

[Install]
WantedBy=multi-user.target

