[client]
#password=<>
#port=3306
#socket=/tmp/mysql.sock

# The MySQL server
[mysqld]
bind-address = 0.0.0.0
#port=3306
#socket=/tmp/mysql.sock
temp-pool

loose-innodb_data_file_path = ibdata1:1000M
loose-mutex-deadlock-detector
gdb

data=/opt

language=./src/dir/sql/share/english

[mysqldump]
quick
set-variable = max_allowed_packet=16M

[mysql]
no-auto-rehash

[myisamchk]
set-variable= key_buffer=128M